[splunktcp-ssl://9997]
disabled = 0

[SSL]
serverCert = /opt/splunk/etc/auth/mycerts/SplunkServerCert.pem
sslPassword = {{ ssl_password }}
requireClientCert = true
#sslCommonNameToCheck = idx1
#sslAltNameToCheck = spl-idx1