[general]
serverName = {{ ansible_hostname }}
pass4SymmKey = {{ general_pass4SymmKey }}

[sslConfig]
sslPassword = {{ ssl_password }}
sslRootCAPath = /opt/splunk/etc/auth/mycerts/SplunkCACertificate.pem
serverCert = /opt/splunk/etc/auth/mycerts/SplunkServerCert.pem
sslVerifyServerCert = false
sslVerifyServerName = false
cliVerifyServerName = false

[kvstore]
storageEngine=wiredTiger
sslVerifyServerCert = false
sslVerifyServerName = false
serverCert = /opt/splunk/etc/auth/mycerts/SplunkServerCert.pem
sslPassword = {{ ssl_password }}

[pythonSslClientConfig]
sslVerifyServerCert = false
sslVerifyServerName = false

[lmpool:auto_generated_pool_download-trial]
description = auto_generated_pool_download-trial
peers = *
quota = MAX
stack_id = download-trial

[lmpool:auto_generated_pool_forwarder]
description = auto_generated_pool_forwarder
peers = *
quota = MAX
stack_id = forwarder

[lmpool:auto_generated_pool_free]
description = auto_generated_pool_free
peers = *
quota = MAX
stack_id = free
