[indexAndForward]
index = false

[tcpout]
defaultGroup = splunkssl
forwardedindex.filter.disable = true
indexAndForward = false

[tcpout:splunkssl]
server = IDX1:9997,IDX2:9997
clientCert = /opt/splunk/etc/auth/mycerts/SplunkServerCert.pem
sslPassword = {{ ssl_password }}
useClientSSLCompression = true

