[general]
serverName = {{ ansible_hostname }}
pass4SymmKey = {{ general_pass4SymmKey }}
site = site0

[sslConfig]
sslPassword = {{ ssl_password }}
sslRootCAPath = /opt/splunk/etc/auth/mycerts/SplunkCACertificate.pem
serverCert = /opt/splunk/etc/auth/mycerts/SplunkServerCert.pem
sslVerifyServerCert = false
sslVerifyServerName = false
cliVerifyServerName = false

[kvstore]
storageEngine=wiredTiger
sslVerifyServerCert = false
sslVerifyServerName = false
serverCert = /opt/splunk/etc/auth/mycerts/SplunkServerCert.pem
sslPassword = {{ ssl_password }}

[pythonSslClientConfig]
sslVerifyServerCert = false
sslVerifyServerName = false

[clustering]
cluster_label = idxcluster
mode = manager
pass4SymmKey = {{ clustering_pass4SymmKey }}
replication_factor = 2
search_factor = 2
multisite = true
available_sites = site1,site2
site_replication_factor = origin:1,site1:1,site2:1,total:2
site_search_factor = origin:1,site1:1,site2:1,total:2

[indexer_discovery]
pass4SymmKey = idxforwarders
indexerWeightByDiskCapacity = true

[lmpool:auto_generated_pool_download-trial]
description = auto_generated_pool_download-trial
peers = *
quota = MAX
stack_id = download-trial

[lmpool:auto_generated_pool_forwarder]
description = auto_generated_pool_forwarder
peers = *
quota = MAX
stack_id = forwarder

[lmpool:auto_generated_pool_free]
description = auto_generated_pool_free
peers = *
quota = MAX
stack_id = free
